/* CSS styles for formatting mediabase nodes for the Shanti Sarvka theme */

div.video-row {
	margin-bottom: 18px; 
}

h3.node-desc {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
}

h4.node-desc-type {
	text-transform: uppercase;
	font-size: 0.8em;
}

div.avinfo button.btn.play-transcript-btn {
	margin-bottom: 12px;
}

button.play-transcript-btn i.shanticon {
	margin-right: 6px;
	padding: 18px 6px 6px 8px;
	vertical-align: top;
}

button.play-transcript-btn span {
	font-size: small;
}

div.row.avdate, div.row.avduration {
	margin: 6px 0px 6px -10px;
	color: #777;
}

div.collimage {
	max-width: 50%;
	float: left;
	padding-right: 20px;
}

div.avinfo {
	margin-left: 20px;
}
