/* This file will hold the main styles for your website. */

/* Typography */
body {
   font-family: Baskerville, Georgia, Palatino, 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', serif;
   font-size: 100%;
}
.form-text {
   font-family:Arial,Helvetica,Verdana,"Bitstream Vera Sans",sans-serif;
}
#zone-branding, #zone-user {
   background-color: #244555;
   color: #fff;
}
.logo-img {
   /* margin-top: 16px; */
}
.site-name a {
   color: white;
}
.site-name {
   margin-top: 4px; /* default is 20 */
}
.site-name-slogan {
   padding-bottom: 20px;
}
#zone-menu {
   background-color: #888;
   color: #fff;
}
#zone-menu ul {
   display: block;
   float: left;
   margin-bottom: 0;
}
#zone-menu li {
   display: inline-block;
   padding: 10px;
}
#zone-menu a, #zone-user a {
   display: inline-block;
   text-decoration: none;
   color: white;
}
#zone-menu .active {
   background-color: #ddd;
   color: #464646;
}

/* USER BLOCK INLINE WITH PIPE SEPARATOR */
#zone-user ul {
   list-style-type: none;
   float: right;
}
#zone-user li {
   display: inline;
   padding-right: 0;
   margin-left: 0;
}
#zone-user .menu .first:after {
   content: " | ";
}

/* SEARCH BLOCK */
#search-block-form { }

/* FIELDSETS swiped from Seven theme*/
fieldset {
  border: 1px solid #ccc;
  padding: 2.5em 0 0 0; /* LTR */
  position: relative;
  margin: 1em 0;
}
fieldset .fieldset-legend {
  margin-top: 0.5em;
  padding-left: 15px; /* LTR */
  position: absolute;
  text-transform: uppercase;
}
fieldset .fieldset-wrapper {
  padding: 0 13px 13px 15px; /* LTR */
}
fieldset.collapsed {
  background-color: transparent;
}
html.js fieldset.collapsed {
  border-width: 1px;
  height: auto;
}
fieldset fieldset {
  background-color: #fff;
}
fieldset fieldset fieldset {
  background-color: #f8f8f8;
}

/* FIELD COLLECTIONS */
.field-type-field-collection {
padding-bottom: 9px;
}

.field-type-field-collection div {
margin-bottom: 0;
padding-bottom: 0;
margin-top: 0;
padding-top: 0;
}

/* BLOCKS */
#section-header {
   margin-bottom: 10px;
}
.region-inner .block {
   margin-bottom: 12px;
}

/* SPECIFIC ELEMENTS */
.kmap-selector label{
   display: inline;
}
.kmap-selector-item img {
position: relative;
top: -3px !important;
}

.alpha-resize-indicator {
   display: none;
}

/* Floating Thumbnail views */
.views-field-field-video {
  float: left;
  padding-right: 10px;
}
.views-field-title a:link,
.views-field-group-audience a:link {
   text-decoration:none;
}
.views-field-title a:hover,
.views-field-group-audience a:hover {
   text-decoration:underline;
}
.views-field-group-audience span {
   display:block;
   float: left;
  padding-right: 1ex;
}
.view-recent-media .views-row {
   padding: 10px;
   margin: 0;
}
.view-recent-media .views-row-2 {
   padding-top: 0;
   margin-top: 10px;
}
.view-recent-media .views-row-last {
   padding-bottom: 0;
   margin-bottom: 20px;
}

.view-recent-media .views-row-even {
  /* border-left: solid 1px silver; */
}
 .view-recent-media .views-field {
   line-height: 20px;
}

   
/* HOMEPAGE */
.front .title {
   display:none;
}

/* NODES */
div.mb-identifier label {
   float:left;
   padding-right: .5em;
}
